<template>
  <el-row :gutter="20">
    <el-col :xs="20" :sm="20" :lg="6" >
      <el-card :body-style="{ padding: '0px' }"  class="grid-content">
      <img :src="characterDetail.image" class="image">
      <div style="padding: 14px;">
        <span> {{characterDetail.name}} </span>
        <div class="bottom clearfix">
          <time class="time"> {{characterDetail.species}} </time>
          <el-button type="text" class="button"> {{characterDetail.status}} </el-button>
          <p> origin:{{characterDetail.origin.name}} </p>
          <p> location: {{characterDetail.location.name}} </p>
        </div>
      </div>
      </el-card>
      <el-button type="warning" @click="$router.push({ name: 'home'})">Volver</el-button>
    </el-col>
  </el-row>
</template>
<script>
import { mapState, mapActions } from 'vuex';
export default {
    data () {
      return {
      }
    },
    computed: {
    ...mapState({
      characterDetail: state => state.character.characterDetail,
    }),
    },
    created() {
    this.getCharacterDetail({ id: this.$route.params.id });
  },
    methods:{
      ...mapActions({
      getCharacterDetail: 'character/getById',
    }),
    }
  }
</script>
<style>
  .time {
    font-size: 13px;
    color: #999;
  }
  
  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .image {
    width: 100%;
    display: block;
  }

  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  
  .clearfix:after {
      clear: both
  }
  .el-row {
    margin-bottom: 20px;
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>