<template>
  <div>
    <el-input
      placeholder="Buscar Por Nombre"
      v-model="search"
      clearable
      class="search"
    >
    </el-input>
    <br>
    <el-row :gutter="20"  class="content">
    <el-col :xs="20" :sm="20" :lg="6"  v-for="(dato) in datos" :key="dato.id">   
      <el-card class="grid-content" shadow="hover">
      <a  @click="$router.push({ name: 'details', params: { id: dato.id } })"> 
      <img :src="dato.image" class="image">
      <div style="padding: 14px;">
        <span> {{dato.name}} </span>
        <div class="bottom clearfix">
          <time class="time"> {{dato.species}} </time>
          <p>{{dato.status}} </p>
        </div>
      </div>
      </a>
      </el-card>
    </el-col>
  </el-row>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex';
export default {
    data () {
      return {
        search: ''
      }
    },
    computed: {
    ...mapState({
      character: state => state.character.character
    }),
    datos: function(){
      return this.character.filter((data) => {
        return data.name.match(this.search);
      })
    }
    },
    created() {
    this.getCharacter();
  },
    methods:{
      ...mapActions({
      getCharacter: 'character/getCharacter',
    })
    }
  }
</script>
<style>
  .search{
    width: 350px;
  }
  .time {
    font-size: 13px;
    color: #999;
  }
  
  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .image {
    width: 100%;
    display: block;
  }
  .content{
    margin-top: 10px;
  }
  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  
  .clearfix:after {
      clear: both
  }
  .el-row {
    margin-bottom: 20px;
  }
  .el-col {
    border-radius: 4px;
    padding: 30px;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>