<template>
  <div>
    <el-header class="title">Lista de Personajes</el-header>
    <el-container style="border: 1px solid #eee">
      <el-main>
      <router-view/>
      </el-main>
    </el-container>
  </div>
</template>

<script>

export default {
  name: "App",
  data() {
    return {
      //
    };
  }
};
</script>
<style>
  .el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
    padding-top: 10px;
    font-size: 26px;
  }
</style>